a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

a:hover {
    background-color: #005bb5;
}