<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<div th:replace="~{fragments/navbarauth :: navbar}"></div>


<div class="createWishWrapper">
    <div class="loginBox">
        <div class="arrowcontainer">
            <a id="backbutton" onclick="history.back();">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

        <h1>CREATE NEW WISH</h1>
        <form th:action="@{/wish/save}" th:object="${wish}" method="post">
            <input type="hidden" th:field="*{wishlistId}"/>

            <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name" th:field="*{name}" required>
                <i class="fa-solid fa-gift"></i>
            </div>

            <div class="input-box">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description"
                       th:field="*{description}" required>
                <i class="fa-solid fa-file"></i>
            </div>

            <div class="input-box">
                <label for="price"></label>
                <input type="password" id="price" name="price" placeholder="Price" th:field="*{price}" required>
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="input-box">
                <label for="link">Link:</label>
                <input type="url" id="link" name="link" placeholder="Image link (optional)" th:field="*{link}">
                <i class="fa-solid fa-image"></i>
            </div>

            <button type="submit" class="loginButton">Create</button>
        </form>
    </div>
</div>


</form>
</body>
</html>