<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Wishlist homepage</title>
  <link rel="stylesheet" th:href="@{/css/homepage.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"></head>

<body>

<nav class="navBar">

  <div class="bar-legnth">
    <div class="photoLogo">
      <img th:src="@{/images/wishlist.png}" alt ="logo">
    </div>

    <div class="login_register">
      <span class="login"><a href="#">Login</a></span>
      <span class="register"><a href="#">Register </a></span>
    </div>
  </div>

</nav>


<div class="centerContainer">
  <div class="wishlistText">WISH<span class="farve">LIST</span></div>
  <img th:src="@{/images/wishlist.png}" class="cloudImage" alt="Sky">
</div>



<div class="endSection">

</div>


</body>


</html>
