<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

    <nav>
        <div class="navbar">
            <a th:href="@{/profile}"><p>PROFILE</p></a>
            <div class="navbarprofileimg"></div>
            <button class="button-22">
                <a>NEW WISHLIST</a>
            </button>
        </div>
    </nav>

    <h1>Hello, <span th:text="${name}"></span></h1>

<!--<h1 th:text="${user.getUsername()}">
</h1>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>link</th>
                <th>Has been reserved</th>
            </tr>
        </thead>
            <tbody>
                <tr th:each = "wish : ${wishlist.getWishes()}">
                    <td th:text="${wish.getName()}"></td>
                    <td th:text="${wish.getDescription()}"></td>
                    <td th:text="${wish.getLink()}"></td>
                    <td th:text="${wish.isReserved()}"></td>
                </tr>
            </tbody>
    </table>-->


<!--<a th:href="@{/logout}">Logout of your profile</a>-->
</body>
</html>