<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

    <nav>
        <div class="navbar">
            <a th:href="@{/profile}"><p>PROFILE</p></a>
            <img th:src="@{images/wishlist.png}" />
            <button class="button-22">
                <a>NEW WISHLIST</a>
            </button>
        </div>
    </nav>
    <div class="profileNameWrapper">
        <h1 class="profileheader">Hello,&nbsp<span class="profileName" th:text="${name}"></span> <!--<span th:text="${name}"></span>--></h1>

    </div>

    <div class="Mainmaincontainer">
        <h3>YOUR WISHLISTS</h3>

        <div class="wishListMainContainer">
            <a th:href="@{/create/wishlist}">
                <div class="wishListContainer">
                    <button class="plusbutton"></button>
                </div>
            </a>
            <div th:each="wishlist : ${wishlists}">
                <a th:href="@{/wishlist/{id}(id=${wishlist.wishlistId})}">
                    <div class="wishListContainer">
                        <h3 th:text="${wishlist.wishlistName}"></h3>
                    </div>
                </a>
            </div>

        </div>
    </div>


<!--<h1 th:text="${user.getUsername()}">
</h1>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>link</th>
                <th>Has been reserved</th>
            </tr>
        </thead>
            <tbody>
                <tr th:each = "wish : ${wishlist.getWishes()}">
                    <td th:text="${wish.getName()}"></td>
                    <td th:text="${wish.getDescription()}"></td>
                    <td th:text="${wish.getLink()}"></td>
                    <td th:text="${wish.isReserved()}"></td>
                </tr>
            </tbody>
    </table>-->


<!--<a th:href="@{/logout}">Logout of your profile</a>-->
</body>
</html>