<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search For Friends</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</head>
<body>

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<div th:replace="~{fragments/navbarauth :: navbar}"></div>


<div class="friendlistandrequestContainer">
    <div class="friendlistWrapper">
        <div class="friendlistContainer">

            <form th:action="@{/searchResultFriends}" th:object="${name}" th:method="get" class="search-box">
                <label for="name"></label>
                <input type="text" id="name" name="name" required placeholder="Add new friends...">
            </form>
            <h1>Your friends</h1>

            <h2 th:if="${noFriends}">You don't have any friends</h2>
            <div th:each="friend : ${friends}" class="friendlistFriendContent">
                <div class="friendinformation">
                    <h2 th:text="${friend.getName()}" class="friend-name"></h2>
                    <h3 th:text="${friend.getUsername()}" class="friend-username"></h3>
                </div>

                <div class="friendbuttons">
                    <form th:action="@{'/profile/friends/' + ${friend.getUsername()}}" th:method="get">
                        <button th:type="submit" class="button-22 blue">Profile</button>
                    </form>
                    <form th:action="@{'remove/friend/' + ${friend.getFriendship()}}" th:method="post">
                        <button th:type="submit" class="button-22 blue">Remove friend</button>
                    </form>
                </div>
            </div>


        </div>
    </div>


    <div class="friendlistWrapper">
        <div class="friendlistContainer">

            <h1>Requests</h1>
            <h2 th:if="${noFriendRequest}">You have not received any friend requests</h2>
            <div th:each="request : ${friendRequests}" class="friendlistFriendContent">
                <div class="friendinformation">
                    <h2 th:text="${request.getName()}" class="friend-name"></h2>
                    <h3 th:text="${request.getUsername()}" class="friend-username"></h3>
                </div>

                <div class="friendbuttons">
                    <form th:action="@{'/accept/friend/' + ${request.getFriendship()}}" th:method="post">
                        <button th:type="submit" class="button-22 blue">Accept</button>
                    </form>
                    <form th:action="@{'remove/friend/' + ${request.getFriendship()}}" th:method="post">
                        <button th:type="submit" class="button-22 blue">Decline</button>
                    </form>
                </div>
            </div>


            <h2 th:if="${noSendRequests}">You have not sent any friend requests</h2>
            <div th:each="send : ${sendRequests}" class="friendlistFriendContent">
                <div class="friendinformation">
                    <h2 th:text="${send.getName()}" class="friend-name"></h2>
                    <h3 th:text="${send.getUsername()}" class="friend-username"></h3>
                </div>

                <div class="friendbuttons">
                    <h3>Pending</h3>
                    <form th:action="@{'remove/friend/' + ${send.getFriendship()}}" th:method="post">
                        <button th:type="submit" class="button-22 blue">Cancel</button>
                    </form>
                </div>
            </div>


        </div>
    </div>


</div>


</body>
</html>