<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for Friends</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div th:replace="fragments/navbarauth :: navbar"></div>


<div class="friendlistWrapper">
    <div class="friendlistContainer">
        <h2 th:if="${noPersonFound}">There was no user with this name</h2>
        <h3 th:if="${noPersonFound}">Maybe they are already your friend or a request have been sent?</h3>


        <div th:each="user : ${searchResult}" class="friendlistFriendContent">
            <div class="friendinformation">
                <h2 th:text="${user.getName()}" class="friend-name"></h2>
                <h3 th:text="${user.getUsername()}" class="friend-username"></h3>
            </div>

            <div class="friendbuttons">
                <form th:action="@{'add/friend/' + ${user.getUsername()}}" th:method="post">
                    <button th:type="submit" class="button-22 blue">Add friend</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>