<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Wish</title>
    <link rel="stylesheet" th:href="@{/css/createWishList.css}">
</head>
<body>

<div class="center">

    <div class="addFormular">
        <h1 class="heading">Update Wish</h1>

        <form th:action="@{/wish/update}" th:object="${wish}" method="post">

            <input type="hidden" th:field="*{wishId}" />
            <input type="hidden" th:field="*{wishlistId}" />

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required th:value="${wish.getName()}">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" th:field="*{description}" required th:value="${wish.getDescription()}">

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:field="*{price}" th:value="${wish.getPrice()}">

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" th:field="*{quantity}" th:value="${wish.getQuantity()}">

            <label for="link">Link:</label>
            <input type="url" id="link" name="link" th:field="*{link}" th:value="${wish.getLink()}">

            <button type="submit">Update Wish</button>
        </form>
        <a th:href="@{/wishlist}" class="delete-button">Cancel</a>
    </div>
</div>
</body>
</html>
