<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish Details</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>

<div th:replace="~{fragments/navbarauth :: navbar}"></div>


<div class="wishContainerWrapper">
    <div class="wishContainer">
        <div class="wishContent">
            <div class="wishNameAndDescContainer">
                <h1 class="wishName">
                    <span th:text="${wish.name}">Wish name</span>
                </h1>
                <p th:text="${wish.description}">Description</p>
            </div>
            <h2 th:text="${wish.getPriceRounded()}">XXX$</h2>
            <div class="wishButtonsContainer">
                <form th:action="@{/wish/delete/{id}(id=${wish.wishId})}" method="post" onsubmit="return confirm('Er du sikker på du vil slette dette ønske?')">
                    <button class="button-22 red" type="submit">Delete</button>
                </form>
                <a th:href="@{/wish/{id}/edit(id=${wish.wishId})}">
                    <button class="button-22 blue">Edit</button>
                </a>

            </div>
        </div>

    </div>
</div>



<!--<div class="Mainmaincontainer">
    <div class="wishesMainContainer">
        <div class="wishListContainer" style="flex-direction: column; padding: 1em; text-align: center;">
            <p><strong>Description:</strong> <span th:text="${wish.description}"></span></p>
            <p><strong>Price:</strong> <span th:text="${wish.price}">0</span> kr</p>
            <p><strong>Quantity:</strong> <span th:text="${wish.quantity}">1</span></p>
            <p><strong>Link:</strong> <a th:href="${wish.link}" target="_blank" th:text="${wish.link}">Visit</a></p>
        </div>
        <div>
            <a th:href="@{/wish/{id}/edit(id=${wish.wishId})}">
                <button class="button-22">Edit</button>
            </a>
            <form th:action="@{/wish/delete/{id}(id=${wish.wishId})}" method="post" onsubmit="return confirm('Er du sikker på du vil slette dette ønske?')">
                <button class="button-22" type="submit">Delete</button>
            </form>

        </div>

    </div>
</div>-->

</body>
</html>
